<!DOCTYPE html>
<html>
  <head>
    <title>558 scouting database</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li><a href="/">Home</a></li>
            <li><a href="showSignin">Sign in</a></li>
            <li class="active"><a href="showSignup">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">558 scouting Database</h3>
      </div>

      <div class="jumbotron">
        <h1>Nice! You have Signed up now you may sign in</h1>
      </div>

      <footer class="footer">
        <p>&copy; FRC Team 558</p>
      </footer>
    </div>
  </body>
</html>
