<!DOCTYPE html>
<html>
  <head>
    <title>558_scouting database</title>

    <link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css">

    <link rel="stylesheet" href="../static/signup.css">
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/logout">Logout</a></li>
            <li><a href="/showEnterData">Enter Data</a></li>
            <li><a href="/showInfo">Database</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">558 scouting Database</h3>
      </div>
      <div class="jumbotron">
        <h1>Welcome to the Database</h1>

      </div>
      <footer class="footer">
        <p>&copy; FRC Team 558</p>
      </footer>

    </div>
  </body>
</html>
